/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [layout.scss]
* DESCRIPTION: layout elements
*
*/

body {
    font-size: 16px;
    background-color: $bg-body;
    
    * {
        box-sizing: border-box;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/*** For extend purpose ***/
.web-layout {
    width: 100%;
    max-width: $website-max-width;
    margin: 0 auto;
    position: relative;
}

/*******************************************************
GRID SYSTEM
*******************************************************/
.grid-system,
.grid-layout {
    width: 100%;
    display: grid;
    gap: 1rem;
    @include tablet {
        gap: 1.5rem;
    }
    @include desktop {
        gap: 2.5rem;
    }
    
    
    &.grid-col-2 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &.grid-col-3 {
        grid-template-columns: 1fr;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
        
        &.t1 {
            @include tablet {
                grid-template-columns: 1fr;
            }
        }
    }
    &.col-12 {
        grid-template-columns: repeat(4, 1fr);
        @include tablet {
            grid-template-columns: repeat(6, 1fr);
        }
        @include desktop {
            grid-template-columns: repeat(12, 1fr);
        }
    }
}




/****************************************
LAYOUT
****************************************/
section {
    padding: $space-m $margin-m;
    
    @include tablet {
        padding: $space-t $margin-t;
    }
    @include desktop {
        padding: $space-d $margin-d;
    }
    @include desktop-large {
        padding: $space-d $margin-dl;
    }
    
    &.full-content {
        padding: 0;
    }
    
    &.w-hero {
        position: relative;
        padding: 96px $margin-m 64px;
        
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1fr;
        gap: 40px;
        
        @include mobile-max {
            padding: 160px $margin-t 80px;
        }
        @include desktop {
            padding: 160px $margin-d 80px;
        }
        @include desktop-large {
            padding: 160px $margin-dl 80px;
        }
        
        * {
            color: white;
        }
        
        .hero-img {
            width: 100%;
            height: auto;
            @include mobile-max {
                display: none;
            }
        }
        .hero-img-body {
            width: 50%;
            margin: 0 0 0 auto;
        }
        .hero-project {
            position: absolute; top: 0; right: 0; z-index:2;
            @include mobile-max {
                display: none;
            }
        }
    }
    &.w-hero-home {
        background-color: $web-grey-6;
    }
    &.w-hero-work {
        background-color: $primary-color;
    }
    &.w-hero-services {
        background-color: $primary-color;
    }
    
    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        min-height: 320px;
        > * {
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h3 {
            margin-bottom: 0;
        }
        .fa-long-arrow {
            transform: rotate(90deg);
            font-size: 2em;
        }
    }

}




article {
    width: 100%;
    max-width: $website-max-width;
    margin: 0 auto $space-m;
    position: relative;
    
    @include tablet {
        margin-bottom: $space-t;
    }
    @include desktop {
        margin-bottom: $space-d;
    }
    &[class]:last-of-type {
        margin-bottom: 0;
    }
    
    &.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.align-top {
            justify-content: flex-start;
        }
        &.align-center {
            justify-content: center;
        }
        &.align-end {
            justify-content: flex-end;
        }
    }
    
    &.wrapper-full {
        max-width: unset;
        padding: 0;
    }
    
    &.wrapper-text {
        max-width: $text-content-max-width;
    }
}



.strate {
    border-top: 1px solid $secondary-color-light;
    
    h1, h2, h6 {
        text-align: center;
    }
    
    h2 {
        margin-bottom: 2.5rem;
        font-size: 2rem;
        @include tablet {
            font-size: 3rem;
        }
        @include desktop {
            font-size: 4rem;
        }
    }
    
    h6 {
        margin-bottom: 8px;
    }
}




/********* FONCTIONS *********/
.is-hide {
    display:none;
}

@include tablet {
    .only-mobile {
        display: none;
    }
}