@charset "UTF-8";
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [variables.scss]
*
*/
/*******************************************************
VARIABLES
*******************************************************/
/***** COLORS *****/
/****** HEADER & FOOTER ******/
/****** TITLES & TEXTS ******/
/****** MESSAGES & ALERTS ******/
/*******************************************************
ADMIN
*******************************************************/
/*******************************************************
SPACES VARIABLES
*******************************************************/
/*******************************************************
Z-INDEX
*******************************************************/
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [reset.scss]
* DESCRIPTION: reset basic values
*
*/
/*******************************************************
RESET
*******************************************************/
body {
  margin: 0 auto;
  padding: 0;
  background-color: white; }

html, body {
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul, ol, li {
  list-style-type: none; }

img {
  display: block; }

button {
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  outline: 0; }

/****** RESET FORMS ******/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  background: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
  background: none; }

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [mixins.scss]
* DESCRIPTION: css properties reused
*
*/
/*******************************************************
MIXINS -
*******************************************************/
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [media-queries.scss]
* DESCRIPTION: media queries
*
*/
/************************************************************
MEDIA QUERIES
************************************************************/
/** Target points **/
/* MOBILE - Targeting iPhone 5s only */
/* TABLET - mobile & up */
/* TABLET - 480px & up */
/* TABLET - 520px & up */
/* TABLET - 620px & up */
/* MOBILE - Only Mobile */
/* TABLET - Tablet & up */
/* TABLET - Targeting only tablet */
/* TABLET - Targeting Mobile & Tablet */
/* DESKTOP - Desktop & Up */
/* DESKTOP - Custom targeting point */
/* DESKTOP -  13 inch Macbook Pro screen */
/*******************************************************
ANIMATIONS -
*******************************************************/
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(-4px); }
  20% {
    -webkit-transform: translateY(0px); }
  60% {
    -webkit-transform: translateY(8px); }
  100% {
    -webkit-transform: translateY(-4px); } }

@keyframes arrowMove {
  0% {
    transform: translateY(-4px); }
  20% {
    transform: translateY(0px); }
  60% {
    transform: translateY(8px); }
  100% {
    transform: translateY(-4px); } }

@-webkit-keyframes arrowMoveRight {
  0% {
    -webkit-transform: translateX(-4px); }
  20% {
    -webkit-transform: translateX(0px); }
  60% {
    -webkit-transform: translateX(8px); }
  100% {
    -webkit-transform: translateX(-4px); } }

@keyframes arrowMoveRight {
  0% {
    transform: translateX(-4px); }
  20% {
    transform: translateX(0px); }
  60% {
    transform: translateX(8px); }
  100% {
    transform: translateX(-4px); } }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [fonts.scss]
* DESCRIPTION: fonts styling elements
*
*/
/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [fonts.scss]
* DESCRIPTION: font-family elements
*
*/
/*******************************************************
FAMILY - Font Families
*******************************************************/
/* Gilroy Light */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url("/webfonts/Gilroy-Light/font.woff2") format("woff2"), url("/webfonts/Gilroy-Light/font.woff") format("woff"); }

/* Gilroy Regular */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url("/webfonts/Gilroy-Regular/font.woff2") format("woff2"), url("/webfonts/Gilroy-Regular/font.woff") format("woff"); }

/* Gilroy Medium */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url("/webfonts/Gilroy-Medium/font.woff2") format("woff2"), url("/webfonts/Gilroy-Medium/font.woff") format("woff"); }

/* Gilroy SemiBold */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url("/webfonts/Gilroy-SemiBold/font.woff2") format("woff2"), url("/webfonts/Gilroy-SemiBold/font.woff") format("woff"); }

/* Gilroy Bold */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url("/webfonts/Gilroy-Bold/font.woff2") format("woff2"), url("/webfonts/Gilroy-Bold/font.woff") format("woff"); }

/* Gabriela  */
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/webfonts/Gabriela/Gabriela-Regular.eot"), url("/webfonts/Gabriela/Gabriela-Regular.woff") format("woff"), url("/webfonts/Gabriela/Gabriela-Regular.ttf") format("truetype"), url("/webfonts/Gabriela/Gabriela-Regular.svg") format("svg");
  /* Legacy iOS */ }

/* Gabriela Light */
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/webfonts/Gabriela Light/Gabriela-Light.eot"), url("/webfonts/Gabriela Light/Gabriela-Light.woff") format("woff"), url("/webfonts/Gabriela Light/Gabriela-Light.ttf") format("truetype"), url("/webfonts/Gabriela Light/Gabriela-Light.svg") format("svg");
  /* Legacy iOS */ }

/* Gabriela Semi-Bold */
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/webfonts/Gabriela SemiBold/Gabriela-SemiBold.eot"), url("/webfonts/Gabriela SemiBold/Gabriela-SemiBold.woff") format("woff"), url("/webfonts/Gabriela SemiBold/Gabriela-SemiBold.ttf") format("truetype"), url("/webfonts/Gabriela SemiBold/Gabriela-SemiBold.svg") format("svg");
  /* Legacy iOS */ }

/*******************************************************
FAMILY - Font Families
*******************************************************/
/***** TITLE *****/
h1 {
  font-family: 'Gabriela', serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3em;
  color: #141a1f;
  margin-bottom: 1.5rem; }
  @media (min-width: 1024px) {
    h1 {
      margin-bottom: 2rem;
      font-size: 4rem; } }
  [class*="w-hero-"] h1 {
    color: white; }

h2 {
  font-family: 'Gabriela', serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5em;
  color: #141a1f;
  margin-bottom: 1.5rem; }
  @media (min-width: 1024px) {
    h2 {
      margin-bottom: 2rem;
      font-size: 2.5rem; } }

h3 {
  font-family: 'Gabriela', serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5em;
  color: #141a1f;
  margin-bottom: 1rem; }
  @media (min-width: 1024px) {
    h3 {
      font-size: 1.75rem; } }
  [class*="w-hero-"] h3 {
    color: white; }

h4 {
  font-family: 'Gabriela', serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
  color: #141a1f; }
  @media (min-width: 1024px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #141a1f; }

h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5em;
  color: #141a1f; }

/***** PARAGRAPH *****/
p {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.7em;
  color: #52585f;
  max-width: 800px;
  margin-bottom: 2rem; }
  @media (min-width: 620px) {
    p {
      font-size: 1.125rem; } }
  p.center {
    margin: 0 auto; }
  p:has(+ p) {
    margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }
  p strong {
    font-weight: 600; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-highlight {
  color: #ff1541; }

.white {
  color: white; }

.c-light {
  color: #8d949b; }

.c-brand {
  color: #ff1541; }

/*
*
* LOCATION: [core]
* FOLDER: [assets/scss]
* FILE NAME: [fonts.scss]
* DESCRIPTION: icons elements
*
*/
/***** FONTAWESOME *****/
.icon {
  display: flex;
  align-items: center;
  gap: .5rem; }
  .icon.icon-atop {
    flex-direction: column;
    align-items: center; }
  @media (max-width: 767px) {
    .icon.mobile-icon-only span {
      display: none !important; } }
  .icon.icon-only span {
    display: none !important; }
  .icon:before, .icon:after {
    /* Common Properties: All required to make icons render reliably - we did this above but it's included here for the full demo */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1em; }

.add-basic:after {
  font: var(--fa-font-sharp-solid);
  content: '\2b';
  font-size: 1.25em; }

.add-news:before {
  font-family: "Font Awesome Kit";
  font-size: .875em;
  content: '\e001'; }

.delete-basic:before {
  font-family: "Font Awesome Kit";
  content: '\e001';
  font-size: .875em; }

.delete-news:before {
  font-family: "Font Awesome Kit";
  font-size: .875em;
  content: '\e003'; }

.i-long-arrow:after {
  font-family: "Font Awesome Kit";
  content: '\e00f';
  font-size: 1.5em; }

.i-more:before {
  font: var(--fa-font-sharp-light);
  content: '\f055'; }
  .dashboard .i-more:before {
    font-size: 1.5em !important; }

.i-check:before {
  font: var(--fa-font-light);
  content: '\f058';
  font-size: 1.25em; }

.menu-toggle-admin:before {
  font: var(--fa-font-light);
  content: '\e24e'; }

.i-logout:before {
  font: var(--fa-font-solid);
  content: '\f08b'; }

.i-homepage:before {
  font: var(--fa-font-regular);
  content: '\e487'; }

.i-homepage:hover:before {
  font: var(--fa-font-solid); }

.i-homepage-2:before {
  font-family: "Font Awesome Kit";
  content: '\e016'; }

.i-homepage-2:hover:before {
  content: '\e018'; }

.i-facebook:before {
  font: var(--fa-font-brands);
  content: '\f39e'; }

.i-instagram:before {
  font: var(--fa-font-brands);
  content: '\f16d'; }

.i-behance:before {
  font: var(--fa-font-brands);
  content: '\f1b4'; }

.i-send:after {
  font: var(--fa-font-regular);
  content: '\f1d8'; }

/******************************************
ADMIN ICONS
******************************************/
.btn-disable:before {
  font: var(--fa-font-light);
  content: '\f070';
  font-size: 1.5em; }

.btn-activate:before {
  font: var(--fa-font-light);
  content: '\f06e';
  font-size: 1.5em; }

.btn-delete:before {
  font: var(--fa-font-light);
  content: '\f2ed';
  font-size: 1.5em; }

.btn-cancel:before {
  font: var(--fa-font-light);
  content: '\f057';
  font-size: 1.5em; }

.btn-update:before {
  font: var(--fa-font-light);
  content: '\f044';
  font-size: 1.5em; }

.btn-revert:before {
  font: var(--fa-font-light);
  content: '\f12d';
  font-size: 1.5em; }

.btn-confirm:before,
.btn-validate:before {
  font: var(--fa-font-light);
  content: '\f058';
  font-size: 1.5em; }

.i-bdd:before {
  font: var(--fa-font-brands);
  content: '\f388';
  font-size: 2em; }

.i-config:before {
  font-family: "Font Awesome Kit";
  content: '\e017';
  font-size: 1.25em; }

.i-client:before {
  font: var(--fa-font-light);
  content: '\e068';
  font-size: 1.25em; }

.i-project:before {
  font: var(--fa-font-light);
  content: '\f390';
  font-size: 1.25em; }

.i-service:before {
  font: var(--fa-font-light);
  content: '\f03a';
  font-size: 1.25em; }

.i-image:before {
  font: var(--fa-font-light);
  content: '\f03e';
  font-size: 1.25em; }

.i-image-check:before {
  font-family: "Font Awesome Kit";
  content: '\e01b';
  font-size: 1.25em; }

.i-image-remove:before {
  font-family: "Font Awesome Kit";
  content: '\e01c';
  font-size: 1.25em; }

.i-image-library:before {
  font-family: "Font Awesome Kit";
  content: '\e01a';
  font-size: 1.25em; }

.i-image-select:before {
  font-family: "Font Awesome Kit";
  content: '\e019';
  font-size: 1.25em; }

/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [admin-layout.scss]
* DESCRIPTION: layout page admin
*
*/
/************************
Variables ADMIN CSS
************************/
body {
  font-size: 16px;
  background-color: #f2f2f2; }
  body * {
    box-sizing: border-box; }

section {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

*[class*='grid-layout-'] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem; }

@media (min-width: 768px) {
  .grid-layout-2 {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 768px) {
  .grid-layout-3 {
    grid-template-columns: 1fr 1fr 1fr; } }

.file-upload {
  margin-top: 3rem; }

/************************
ALERT MESSAGES in Dashboard
************************/
.message-box {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  -webkit-box-shadow: 0 5px 20px -6px rgba(18, 18, 18, 0.4);
  -moz-box-shadow: 0 5px 20px -6px rgba(18, 18, 18, 0.4);
  box-shadow: 0 5px 20px -6px rgba(18, 18, 18, 0.4); }
  .message-box .icon {
    padding: 1rem; }
  .message-box .i-alert {
    background-color: #ffbe2e; }
    .message-box .i-alert:before {
      font: var(--fa-font-light);
      content: '\f05a';
      font-size: 2rem; }
  .message-box .i-error {
    background-color: #ff1540; }
    .message-box .i-error:before {
      font: var(--fa-font-light);
      content: '\f057';
      font-size: 2rem;
      color: white; }
  .message-box .i-success {
    background-color: #00E676; }
    .message-box .i-success:before {
      font: var(--fa-font-light);
      content: '\f058';
      font-size: 2rem;
      color: #00732e; }
  .message-box p {
    padding: 1rem;
    background: #181818;
    color: white;
    font-size: .875rem;
    display: inline-flex;
    align-items: center; }
  .message-box .message-box-close {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    color: #2e2e2e;
    content: "\f00d"; }
  .message-box.fade-out {
    opacity: 1;
    transition: all 0.5s ease-in-out; }

/************************
Layout System
************************/
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 2rem 1rem; }
  @media (min-width: 768px) {
    .dashboard {
      grid-template-columns: 320px auto;
      grid-gap: 1.5rem;
      padding: 2rem 2rem 1rem 0; } }
  @media (min-width: 1024px) {
    .dashboard {
      grid-gap: 2rem; } }

.dashboard-container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .dashboard-container {
      grid-column: 2; } }

/********* FONCTIONS *********/
.hide,
.is-hide,
.is-hidden {
  display: none !important; }

@media (min-width: 768px) {
  .only-mobile {
    display: none !important; } }

@media (max-width: 767px) {
  .only-tablet {
    display: none !important; } }

/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [design-system.scss]
* DESCRIPTION: Elements from the design system of Panellinios St-Michel FC
*
*/
/*************** DESIGN SYSTEM ***************/
/*******************************************************
ALERT BOXES
*******************************************************/
.w-alert-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: rgba(242, 242, 242, 0.7);
  box-sizing: border-box; }
  .w-alert-message .alert-message {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #181818;
    border: 1px solid #2e2e2e;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem; }
    @media (min-width: 1024px) {
      .w-alert-message .alert-message {
        padding: 4rem; } }
    .w-alert-message .alert-message i {
      color: #ffbe2e;
      padding: 0 0 16px;
      font-size: 2em; }
    .w-alert-message .alert-message.alert-info {
      background-color: #fffcec;
      border-color: #936f38;
      color: #e5a000; }
      .w-alert-message .alert-message.alert-info i {
        color: #e5a000; }
    .w-alert-message .alert-message.alert-correct {
      background-color: #e1ffe9;
      border-color: #00732e;
      color: #00bd60; }
      .w-alert-message .alert-message.alert-correct i {
        color: #00bd60; }
    .w-alert-message .alert-message.alert-error {
      background-color: #eef1f7;
      border-color: #c80004;
      color: #ff1540; }
      .w-alert-message .alert-message.alert-error i {
        color: #ff1540; }
    .w-alert-message .alert-message span {
      margin-top: 16px; }
  .w-alert-message .close-alert-box {
    grid-column: span 2;
    cursor: pointer;
    text-decoration: underline; }

/***********************
DESIGN SYSTEM - Cards
***********************/
.project-card {
  width: 100%;
  padding: 0;
  position: relative;
  box-sizing: border-box; }
  .project-card:hover {
    cursor: pointer; }
  .project-card .card-content-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
  .project-card .project-title {
    margin-top: 1rem;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.3em;
    color: #141a1f;
    text-align: center; }
    .project-card .project-title:hover {
      text-decoration: underline; }

.hp-services-card {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }
  .hp-services-card .card-bg:after {
    opacity: 0; }
  .hp-services-card h5 {
    position: absolute;
    top: 24px;
    left: 24px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300; }
    @media (min-width: 768px) {
      .hp-services-card h5 {
        font-size: 1.25rem; } }
  .hp-services-card:hover .card-bg:after {
    opacity: 0.2; }

.project-card .card-bg,
.hp-services-card .card-bg {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/***********************
DESIGN SYSTEM – Buttons
***********************/
.button, .btn-primary, .btn-secondary, .btn-tertiary, input[type="submit"], .inputfile + label {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  border-radius: 3rem;
  transition: all .3s ease; }
  .button:hover, .btn-primary:hover, .btn-secondary:hover, .btn-tertiary:hover, input:hover[type="submit"], .inputfile + label:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .button, .btn-primary, .btn-secondary, .btn-tertiary, input[type="submit"], .inputfile + label {
      width: 100%; } }
  .dashboard .button, .dashboard .btn-primary, .dashboard .btn-secondary, .dashboard .btn-tertiary, .dashboard input[type="submit"], .dashboard .inputfile + label {
    border-radius: .5rem; }
  .button.is-not-active, .is-not-active.btn-primary, .is-not-active.btn-secondary, .is-not-active.btn-tertiary, input.is-not-active[type="submit"], .inputfile + label.is-not-active {
    opacity: .2; }
  .button.in-content, .in-content.btn-primary, .in-content.btn-secondary, .in-content.btn-tertiary, input.in-content[type="submit"], .inputfile + label.in-content {
    margin: 2rem auto 3rem; }

.btn-primary {
  padding: 1rem 2rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ff1541; }
  @media (max-width: 767px) {
    .btn-primary {
      padding: 1rem; } }
  @media (min-width: 768px) {
    .btn-primary:hover {
      background-color: #c80004; } }
  .btn-primary.small {
    padding: .75rem 1.25rem;
    font-size: .75rem; }
  .btn-primary.large {
    font-size: 1.25rem; }
  .dashboard .btn-primary.btn-update {
    background-color: #6300ee; }
    @media (min-width: 768px) {
      .dashboard .btn-primary.btn-update:hover {
        background-color: #3700b3; } }
  .dashboard .btn-primary.btn-delete, .dashboard .btn-primary.btn-cancel, .dashboard .btn-primary.btn-disable, .dashboard .btn-primary.btn-activate, .dashboard .btn-primary.btn-revert {
    background-color: #eef1f7;
    color: #434C57; }
    @media (min-width: 768px) {
      .dashboard .btn-primary.btn-delete:hover, .dashboard .btn-primary.btn-cancel:hover, .dashboard .btn-primary.btn-disable:hover, .dashboard .btn-primary.btn-activate:hover, .dashboard .btn-primary.btn-revert:hover {
        color: #ff1540; } }
  .btn-primary.btn-confirm, .btn-primary.btn-validate, .btn-primary.btn-add {
    background-color: #00E676;
    color: #00732e;
    justify-self: center; }
    @media (min-width: 768px) {
      .btn-primary.btn-confirm:hover, .btn-primary.btn-validate:hover, .btn-primary.btn-add:hover {
        background-color: #00bd60; } }
  .btn-primary.btn-back {
    background-color: #ffbe2e;
    color: #181818; }
    .btn-primary.btn-back:hover {
      background-color: #e5a000; }
    .btn-primary.btn-back:before {
      font: var(--fa-font-sharp-regular);
      content: '\f344';
      font-size: .875em; }
  @media (max-width: 767px) {
    .btn-primary span.is-hide-mobile {
      display: none; } }

.btn-secondary {
  padding: 1rem 2rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1em;
  color: #181818;
  border: 1px solid #181818; }
  @media (max-width: 767px) {
    .btn-secondary {
      padding: 1rem; } }
  .btn-secondary:hover {
    border-color: #aca9a9;
    color: #aca9a9; }
  .btn-secondary.small {
    padding: .75rem 1.25rem;
    font-size: .75rem; }
  .btn-secondary.large {
    font-size: 1.25rem; }
  .btn-secondary.btn-brand {
    border-color: #ff1541;
    color: #ff1541; }
    .btn-secondary.btn-brand:hover {
      border-color: #c80004;
      color: #c80004; }
  .btn-secondary.ghost-white {
    color: white;
    border-color: white; }
    .btn-secondary.ghost-white:hover {
      background: white;
      border-color: white;
      color: #ff1541; }
  .dashboard .btn-secondary {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: #8d949b;
    color: #8d949b; }
    .dashboard .btn-secondary:hover {
      border-color: #6300ee;
      color: #6300ee; }
    .dashboard .btn-secondary.btn-delete:hover, .dashboard .btn-secondary.btn-cancel:hover, .dashboard .btn-secondary.btn-disable:hover, .dashboard .btn-secondary.btn-activate:hover, .dashboard .btn-secondary.btn-revert:hover {
      border-color: #ff1540;
      color: #ff1540; }

.btn-tertiary {
  font-family: 'Gabriela', serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  color: #141a1f;
  padding: 0;
  margin: 1.5rem 0; }
  .btn-tertiary:hover {
    color: #03dac4; }
    .btn-tertiary:hover.scale {
      transform: scale(1.1); }
  .dashboard .btn-tertiary {
    margin: 0; }
  .btn-tertiary.small {
    font-size: .75rem; }
  .btn-tertiary.large {
    font-size: 1.5rem; }
  .btn-tertiary.xlarge {
    font-size: 2rem; }
  .btn-tertiary.btn-text {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    color: #52585f;
    justify-content: flex-start; }
    .btn-tertiary.btn-text:hover {
      color: #ff1541; }
  .btn-tertiary.btn-light {
    color: white; }
  .btn-tertiary.btn-brand {
    color: #ff1541; }
    .btn-tertiary.btn-brand:hover {
      color: #c80004; }
  .btn-tertiary.btn-delete, .btn-tertiary.btn-cancel, .btn-tertiary.btn-disable, .btn-tertiary.btn-activate, .btn-tertiary.btn-revert {
    color: #ff1540; }
    @media (min-width: 768px) {
      .btn-tertiary.btn-delete, .btn-tertiary.btn-cancel, .btn-tertiary.btn-disable, .btn-tertiary.btn-activate, .btn-tertiary.btn-revert {
        color: #434C57; }
        .btn-tertiary.btn-delete:hover, .btn-tertiary.btn-cancel:hover, .btn-tertiary.btn-disable:hover, .btn-tertiary.btn-activate:hover, .btn-tertiary.btn-revert:hover {
          color: #ff1540; } }

/*************************************
SELECT & DROPDOWN
*************************************/
select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  padding: .75rem 1rem;
  border: 1px solid #d3d3d3;
  border-radius: .5rem 0 0 .5rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3em;
  color: #181818; }

.select-dropdown {
  position: relative;
  width: 100%;
  min-width: 220px;
  max-width: 320px;
  margin: 0 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex; }
  .select-dropdown.contact {
    margin-left: 0;
    width: 100%;
    max-width: inherit; }
  .dashboard .select-dropdown {
    max-width: unset; }
    .dashboard .select-dropdown label {
      color: #3700b3; }
    .dashboard .select-dropdown select {
      padding: 2rem 4rem .5rem 1rem;
      background-color: #efe5fd;
      border-color: #6300ee; }
  .select-dropdown label {
    position: absolute;
    top: .75rem;
    left: 1rem;
    z-index: 2;
    color: #ff1541;
    letter-spacing: 2px; }
  .select-dropdown select {
    font-size: 1.125rem;
    border-color: #ff1541;
    color: #434C57;
    background-color: #eef1f7;
    padding: .75rem 4rem .75rem 1rem;
    background-image: url("/assets/icons/chevron-down-white.svg");
    background-size: 24px 24px;
    background-position: 95% center;
    background-repeat: no-repeat;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

/************************************
FORMS ELEMENT - block, labels, input & cta
************************************/
.w-form,
form.popup {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 600px; }
  .w-form .g-recaptcha,
  form.popup .g-recaptcha {
    width: fit-content;
    margin: 0 auto; }
  .w-form .btn-primary,
  form.popup .btn-primary {
    margin: 2rem auto; }

.form-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .5rem 1rem;
  margin-bottom: 1rem; }
  .form-row.column {
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem; }

label {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1em;
  color: #141a1f;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0; }

input {
  width: 100%;
  padding: .75rem 1.5rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  color: #343741;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: .5rem; }
  input.prefilled {
    color: #aca9a9;
    background: #f2f2f2; }
  input:hover {
    border-color: #343741; }
  input:focus {
    color: #343741;
    border-color: #6300ee; }
  input::placeholder {
    color: #d3d3d3; }
  input[type="submit"] {
    width: fit-content;
    border: none;
    margin: 2rem auto;
    background: #00E676;
    color: #00732e; }
    input[type="submit"]:hover {
      background: #00bd60; }
    .dashboard input[type="submit"] {
      margin: 0; }

textarea {
  background-color: white;
  outline: none;
  height: 250px;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  color: #343741;
  border: 1px solid #d3d3d3;
  border-radius: .5rem;
  margin-bottom: 2rem;
  resize: none; }
  textarea.small {
    height: 100px; }
  .dashboard textarea {
    margin: 0; }
  textarea:hover {
    border-color: #343741; }
  textarea:focus {
    color: #343741;
    border-color: #6300ee; }
  textarea.prefilled {
    color: #aca9a9;
    background: #f2f2f2; }

/***********************
Lists
***********************/
/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [admin-login.scss]
* DESCRIPTION: login page
*
*/
/*************************************
LOGIN PAGE
*************************************/
.w-login {
  width: 100%;
  min-height: 100dvh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .w-login {
      padding: 3rem; } }

.login-error {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
  color: #ff1540; }

/*
*
* LOCATION: [admin]
* FOLDER: [scss]
* FILE NAME: [admin-menu.scss]
* DESCRIPTION: header and sidebar elements
*
*/
/*************************************
HEADER
*************************************/
.top-header {
  margin-bottom: 2rem; }
  .top-header ul {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem; }
    .top-header ul li {
      height: 100%; }
    .top-header ul .nav-element {
      height: 100%;
      min-width: 3rem;
      justify-content: center;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1em;
      color: #6300ee;
      padding: .5rem;
      border: 1px solid #6300ee;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
      transition: all .3s ease; }
      .top-header ul .nav-element:hover {
        background-color: #efe5fd;
        color: #3700b3;
        cursor: pointer; }

/*************************************
SIDEBAR
*************************************/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-flow: column nowrap;
  width: 320px;
  height: 100vh;
  overflow-x: scroll;
  padding: 2rem 1rem;
  background-color: white;
  border-right: 3px solid #6300ee; }
  @media (max-width: 767px) {
    .sidebar {
      width: 100%;
      transform: translateX(-1000px);
      transition: all .5s ease; }
      .sidebar.open {
        transform: translateX(0);
        padding: 3rem 2rem; } }
  .sidebar .sidebar-menu li {
    font-family: 'Gilroy', sans-serif;
    color: #6300ee;
    padding: .25rem .5rem; }
  .sidebar .list-subnav {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-block: .5rem 2rem;
    margin-inline: 1.5rem; }
  .sidebar .menu-element {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3em;
    color: #5300e8;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .sidebar .ss-menu-element {
    padding-left: 4rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3em;
    color: #3700b3;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .sidebar .ss-menu-element {
        padding-left: 2.5rem;
        font-size: .875rem; } }
    .sidebar .ss-menu-element:hover {
      color: #9965f4;
      transition: all .3s ease; }
    .sidebar .ss-menu-element.not-active {
      color: #efe5fd; }

/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [admin-forms.scss]
* DESCRIPTION: form elements for admin section
*
*/
/************************************
FORMS LAYOUT
************************************/
form.popup {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  box-sizing: border-box;
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 1rem; }
  @media (min-width: 768px) {
    form.popup {
      padding: 4rem; } }
  form.popup .popup-title {
    text-align: center;
    color: #141a1f; }
  form.popup .form-row {
    margin-bottom: 0; }
  form.popup .btn-primary {
    margin: 2rem auto 0; }
    @media (min-width: 768px) {
      form.popup .btn-primary {
        min-width: 320px; } }

/************************************
ADMIN FORMS ELEMENT - block, labels, input & cta
************************************/
.file-list {
  width: 100%; }
  .file-list + h6 {
    margin-top: 1rem; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  max-width: 400px;
  padding: 1.25rem 2rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;
  color: #141a1f;
  background-color: #ffbe2e; }
  @media (max-width: 767px) {
    .inputfile + label {
      padding: 1rem; } }
  @media (min-width: 768px) {
    .inputfile + label:hover {
      background-color: #e5a000;
      cursor: pointer; } }
  .inputfile + label span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .inputfile + label:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font: var(--fa-font-sharp-regular);
    content: '\f342'; }
  .inputfile + label.small {
    font-size: .875rem;
    padding: .75rem 1.25rem; }

input[type='date'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.multiple-fileInputs {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

/************************************
ADMIN switch buttons
************************************/
/* Hide the default checkbox */
.switch-checkbox,
.star-checkbox {
  display: none; }

/* Style the switch container */
.switch-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  /* Default background color */
  border-radius: 15px;
  cursor: pointer; }

/* Style the switch knob */
.switch-knob {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s; }

.switch-container:has(.switch-checkbox:checked) {
  background-color: #4CAF50; }

.switch-checkbox:checked + .switch-knob {
  transform: translateX(30px); }

form.switch-status {
  display: grid;
  gap: .25rem; }

/* Style star checkbox */
.star-container {
  display: block; }

.star-checkbox + .switch-star:before {
  font: var(--fa-font-sharp-light);
  font-size: 1.5rem;
  content: '\e28b';
  color: gold; }

.star-checkbox:checked + .switch-star:before {
  font: var(--fa-font-sharp-solid);
  font-size: 1.5rem; }

/************************************
ADMIN custom checkbox
************************************/
.list-checklist {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 2rem;
  margin-block: 1.5rem; }

.custom-checkbox {
  display: block;
  padding: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #D0D3D4;
  color: #D0D3D4;
  cursor: pointer;
  transition: all .3s ease; }
  .custom-checkbox:hover {
    border-color: #52585f;
    color: #52585f; }
  .list-img-project .custom-checkbox:has(input[type="checkbox"]) {
    opacity: .4; }
  .custom-checkbox:has(input[type="checkbox"]:checked) {
    border-color: #3700b3;
    background-color: #efe5fd;
    color: #3700b3;
    opacity: 1; }
  .custom-checkbox input[type="checkbox"] {
    display: none; }

/*
*
* LOCATION: [assets]
* FOLDER: [scss]
* FILE NAME: [main-admin.scss]
* DESCRIPTION: Dashboard style file
*
*/
.d-form-cta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0 0;
  padding: 0;
  gap: 1rem; }
  .d-form-cta.header {
    margin: 0 0 3rem;
    justify-content: flex-start; }
  .content-add .d-form-cta {
    justify-content: center;
    margin-bottom: 3rem; }
  .d-form-cta [class*='btn-'] {
    margin: 0 !important; }

.inactive > * {
  opacity: 0.2; }

/*** INTERACTION CONTENT ***/
.content-add,
.content-update {
  display: none; }
  .content-add.is-active,
  .content-update.is-active {
    display: block;
    margin-bottom: 2rem; }

.content-add {
  border-bottom: 1px solid #D0D3D4; }

.content-update {
  border: 1px solid #6300ee;
  background-color: #f2f2f2;
  padding: 1rem; }

form.content-delete {
  margin: 1rem auto 3rem;
  width: fit-content; }
  .footer-dashboard form.content-delete {
    margin: 0; }

/*************************************
ADMIN – DEFAULT
*************************************/
.list-dashboard-menu {
  display: grid;
  margin-block: 3rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  @media (min-width: 1024px) {
    .list-dashboard-menu {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 1440px) {
    .list-dashboard-menu {
      grid-template-columns: repeat(4, 1fr); } }
  .list-dashboard-menu li {
    padding: 1rem;
    border: 1px solid #6300ee;
    background-color: white;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem; }
    @media (min-width: 768px) {
      .list-dashboard-menu li {
        padding: 2rem; } }
    @media (min-width: 1240px) {
      .list-dashboard-menu li {
        padding: 3rem; } }
  .list-dashboard-menu a {
    gap: 1rem;
    font-size: 1.5rem;
    opacity: 1;
    transition: all .3s ease;
    color: #6300ee; }
    .list-dashboard-menu a:hover {
      opacity: .5; }
    @media (min-width: 768px) {
      .list-dashboard-menu a {
        font-size: 2rem; } }
    @media (min-width: 1240px) {
      .list-dashboard-menu a {
        font-size: 3rem; } }
    .list-dashboard-menu a span {
      font-family: 'Gilroy', sans-serif;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.3em;
      color: #6300ee;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-align: center; }

/*************************************
ADMIN – PAGE
*************************************/
.dashboard-main {
  border: 1px solid #d3d3d3;
  background-color: white;
  margin-bottom: 2rem; }

.dashboard-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #3700b3;
  padding: 1rem; }

.dashboard-content {
  padding: 1rem; }
  @media (min-width: 768px) {
    .dashboard-content {
      padding: 1.5rem; } }
  .dashboard-content .btn-add {
    margin-bottom: 3rem; }

.dashboard-list {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (min-width: 768px) {
    .dashboard-list {
      gap: 1rem; } }
  .dashboard-list li {
    display: grid;
    gap: 1rem;
    align-items: center; }
    @media (min-width: 768px) {
      .dashboard-list li {
        grid-template-columns: 1fr auto; } }
    .dashboard-list li.layout-delete {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto;
      grid-template-areas: "delete name buttons"; }
      @media (max-width: 767px) {
        .dashboard-list li.layout-delete {
          grid-template-columns: 1fr auto auto;
          grid-template-areas: "name delete buttons"; } }
      .dashboard-list li.layout-delete .content-delete {
        grid-area: delete; }
      .dashboard-list li.layout-delete .content-id {
        grid-area: name; }
      .dashboard-list li.layout-delete .content-btn {
        grid-area: buttons; }
    .dashboard-list li .element-title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5em;
      color: #141a1f;
      text-align: center; }
      @media (min-width: 768px) {
        .dashboard-list li .element-title {
          text-align: unset;
          font-size: 1rem; } }
      .dashboard-list li .element-title span {
        font-weight: 700; }
  .dashboard-list .list-cta {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center; }
    @media (max-width: 767px) {
      .dashboard-list .list-cta {
        justify-content: center; } }
    .dashboard-list .list-cta.list-user-type {
      gap: .5rem; }
      .dashboard-list .list-cta.list-user-type > * {
        flex-grow: 1; }

/*************************************
IMAGES AND File upload
*************************************/
.file-img-upload {
  width: 100%;
  max-width: 240px;
  margin-bottom: 1.5rem; }
  .file-img-upload.reverse {
    background: #D0D3D4;
    padding: .5rem; }
  .file-img-upload img {
    width: 100%;
    height: 100%; }

span.logo-mini {
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem; }
  span.logo-mini img {
    width: 100%; }

/***********************
Lists
***********************/
.list-img-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block: 2rem 4rem; }
  @media (min-width: 768px) {
    .list-img-project {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem; } }
  .list-img-project .img-project-el {
    width: 100%;
    position: relative; }
    .list-img-project .img-project-el .btn-delete {
      position: absolute;
      top: .5rem;
      left: .5rem;
      z-index: 2;
      padding: .5rem; }
  .list-img-project img {
    width: 100%;
    max-width: 100%; }
