/*
*
* LOCATION: [core]
* FOLDER: [scss]
* FILE NAME: [main.scss]
* DESCRIPTION: main website css file
*
*/


/*******************************************************
HOME PAGE
*******************************************************/
.hero-home {
    @include desktop {
        top: 50%;
        left: 0;
        right: inherit;
        width: 50%;
        -ms-transform: translate(0, -50%);
        transform: translateY(-50%);
        position: absolute;
        z-index: 2;
    }
    
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/*** portfolio ***/
.w-project-box {
    
    .project-box {
        position: relative;
        width: 100%;
        height: 40dvh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: all .3s ease;
        @include tablet {
            height: 100dvh;
            min-height: 600px;
            
            &:hover {
                filter: grayscale(1);
            }
        }
    }
    .project-link-overlay {
        position: absolute;
        top:0;
        left:0;
        z-index: 2;
        
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width:100%;
        height: 100%;
    }
    .project-sticker {
        padding: 1rem 2rem;
        background: white;
        
        @include font-family-reading();
        @include font-style(700, 1rem, 1em, $secondary-color-darker);
        
        transition: all .3s ease;
        &:hover {
            transform: scale(1.25);
            transform-origin: bottom right;
        }
    }
}

/*** Expertise section ***/
.hp-services {
    margin-top: 2.5rem;
    display: grid;
    width: 100%;
    
    @include tablet {
        grid-template-columns: 1fr 1fr;
    }
    
    > div {
        width: 100%;
        height: 360px;
        overflow: hidden;
        @include mobile-max {
            height: 220px;
        }
    }
}

.capability-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*** Button Group ***/
.w-buttons-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    padding: 3rem 0;
    
    @include tablet {
        flex-flow: row nowrap;
        gap: 5rem;
        padding: 5rem 0;
    }
}


/*** Clients ***/
.w-clients {
    background: $secondary-color-darker;
    
    .clients-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        
        margin-top: 40px;
        
        @include tablet {
            gap: 2.5rem;
        }
        @include desktop {
            gap: 4rem;
        }
        
        img {
            display: block;
            max-height: 100px;
            margin: 0 auto;
            max-width: 180px;
        }
    }
    
    .clients-el {
        width: 20%;
        @include mobile-max {
            width: 40%;
        }
    }
}


/*******************************************************
PAGE SERVICES
*******************************************************/
.services {
    &-container {
        display: flex;
        align-items: center;
        @include mobile-max {
            flex-direction: column;
            gap: 16px;
        }
        
        &:nth-child(even) {
            flex-direction: row-reverse;
            @include mobile-max {
                flex-direction: column;
            }
        }
        
        &:nth-child(n+2) {
            @include desktop {
                margin-top: -3rem;
            }
        }
    }
    
    &-img {
        background-color: #E2E2E2;
        width: 100%;
        
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet {
            width: 40%;
            aspect-ratio: 2/3;
        }
    }
    
    &-infos {
        padding: 0;
        @include tablet {
            width: 60%;
            padding: $margin-t;
        }
        @include desktop {
            padding: $margin-d;
        }
        
        h2 {
            margin-bottom: 1.5rem;
        }
    }
    
    &-list {
        margin-block: 2.5rem;
        margin-inline-start: 2.5rem;
        
        li {
            @extend p;
            list-style: none;
            
            &:has(+ li) {
                margin-bottom: .25rem;
            }
            
            &:before {
                content: '—';
                padding-right: 2rem;
            }
        }
    }
    
}


/*******************************************************
PAGE PROJECTS
*******************************************************/
.grid-projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

.w-hero-case-study {
}

.case-study {
    &-title {
        font-size: 3rem;
        line-height: 1.5em;
        color: white;
        @include desktop {
            font-size: 4.75rem;
        }
    }
    
    &-client {
        @include font-family-reading();
        font-size: 1.5rem;
        color: white;
        margin-bottom: 0;
        
        @include desktop {
            font-size: 2rem;
        }
    }
    
    &-services {
        color: white;
    }
    
    &-brief {
        gap: .5rem;
        justify-content: center;
    }
    
    &-excerpt {
        @include font-style(400, 1.5rem, 1.5em, $secondary-color);
        margin-bottom: 2rem;
        @include desktop {
            margin-bottom: 3rem;
            font-size: 2rem;
        }
        line-height: 1.6em;
    }
    
    &-goal {
        @include font-family-heading();
        @include font-style(400, 1.25rem, 1.7em, $reading-text);
        margin-bottom: 2rem;
        @include desktop {
            margin-bottom: 3rem;
            font-size: 1.5rem;
        }
    }
    
    &-description {
        font-weight: 300;
        margin: 0 auto 0 0;
    }
    
    &-gallery {
        padding: 0;
        
        &:last-of-type {
            margin-bottom: 8rem;
        }
    }
}

.gallery-secondary .wrapper {
    gap: 1rem;
}

